{% extends 'base.html' %}
{% load static %}

{% block title %}
HOME
{% endblock %}

{% block body %}

{% include 'navbar.html' %}


<!-- section 1 -->

<section id="section1">
    <div class="row">
        <div class="col">
            <img src="{% static 'images/bg5.jpg' %}" class="img-fluid" alt="..." style="width: 100%;image-resolution: 1080p;">
        </div>
    </div>
    <div class="container-fluid" style="height: 100px;background-color: rgb(1, 65, 87);">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <nav class="navbar ">
                    <div class="container-fluid" style="margin-top: 20px;">
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Keyword" aria-label="Search">
                        <select class="form-select me-2" aria-label="Default select example">
                            <option selected>Category</option>
                            <option value="1">category1</option>
                            <option value="2">category2</option>
                            <option value="3">category3</option>
                        </select>
                        <select class="form-select me-2" aria-label="Default select example">
                            <option selected>Location</option>
                            <option value="1">location1</option>
                            <option value="2">location2</option>
                            <option value="3">location3</option>
                        </select>
                        <button class="btn btn-outline-secondary" type="button">Search</button>
                      </form>
                    </div>
                </nav>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>


</section>


<!-- section 2 -->

<section id="section2">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center" style="margin-top: 50px;color: rgb(1, 65, 87);margin-bottom: 50px;">Explore By Category</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100 shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                      <h1 style="color: rgb(1, 65, 87);"><i class="bi bi-terminal"></i></h1>
                      <h5 class="card-title" style="color: rgb(1, 65, 87);">IT and Development</h5>
                      <p class="card-text" style="color: rgb(1, 65, 87);">100 Vaccancy</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body">
                        <h1 style="color: rgb(1, 65, 87);"><i class="bi bi-globe"></i></h1>
                        <h5 class="card-title" style="color: rgb(1, 65, 87);">Digital Marketing</h5>
                        <p class="card-text" style="color: rgb(1, 65, 87);">153 Vaccancy</p>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body">
                        <h1 style="color: rgb(1, 65, 87);"><i class="bi bi-people"></i></h1>
                        <h5 class="card-title" style="color: rgb(1, 65, 87);">Human Resource</h5>
                        <p class="card-text" style="color: rgb(1, 65, 87);">73 Vaccancy</p>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body">
                        <h1 style="color: rgb(1, 65, 87);"><i class="bi bi-briefcase"></i></h1>
                        <h5 class="card-title" style="color: rgb(1, 65, 87);">Project Management</h5>
                        <p class="card-text" style="color: rgb(1, 65, 87);">55 Vaccancy</p>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body">
                        <h1 style="color: rgb(1, 65, 87);"><i class="bi bi-graph-up"></i></h1>
                        <h5 class="card-title" style="color: rgb(1, 65, 87);">Business Development</h5>
                        <p class="card-text" style="color: rgb(1, 65, 87);">83 Vaccancy</p>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body">
                        <h1 style="color: rgb(1, 65, 87);"><i class="bi bi-telephone"></i></h1>
                        <h5 class="card-title" style="color: rgb(1, 65, 87);">Sales and Communication</h5>
                        <p class="card-text" style="color: rgb(1, 65, 87);">33 Vaccancy</p>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body">
                        <h1 style="color: rgb(1, 65, 87);"><i class="bi bi-book"></i></h1>
                        <h5 class="card-title" style="color: rgb(1, 65, 87);">Teaching and Education</h5>
                        <p class="card-text" style="color: rgb(1, 65, 87);">63 Vaccancy</p>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body">
                        <h1 style="color: rgb(1, 65, 87);"><i class="bi bi-palette"></i></h1>
                        <h5 class="card-title" style="color: rgb(1, 65, 87);">Design and Creative</h5>
                        <p class="card-text" style="color: rgb(1, 65, 87);">53 Vaccancy</p>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body">
                        <h1 style="color: rgb(1, 65, 87);"><i class="bi bi-headset"></i></h1>
                        <h5 class="card-title" style="color: rgb(1, 65, 87);">Customer Services</h5>
                        <p class="card-text" style="color: rgb(1, 65, 87);">133 Vaccancy</p>
                      </div>
                    </div>
                </div>
                  
  
  
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

</section>


<!-- section 3 -->

<section id="section3" style="background-color: rgb(1, 65, 87);margin-top: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="{% static 'images/bg12.png' %}" class="img-fluid" alt="..." style="width: 100%;margin-top: 200px;height: 200px;border-radius: 15px;">
            </div>
            <div class="col-lg-3">
                <img src="{% static 'images/bg13.png' %}" class="img-fluid" alt="..." style="width: 100%;margin-top: 200px;height: 200px;border-radius: 15px;">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <h2 class="text-center text-white" style="margin-top: 100px;font-family: 'Courier New', Courier, monospace;"><b>We help you to <br>Get your Dream Job</b></h2><br>
                <ul>
                  <li style="color: white;font-family: Verdana, Geneva, Tahoma, sans-serif;"><h5 class="text-white ">Hire-Me help you to get your dream job, with our placement support.</h5></li>
                  <li style="color: white;font-family: Verdana, Geneva, Tahoma, sans-serif;"><h5 class="text-white ">We have good connection with top Indian MNCs and Startups.</h5></li>
                  <li style="color: white;font-family: Verdana, Geneva, Tahoma, sans-serif;"><h5 class="text-white ">Every opportunities we provide comes with a good salary package.</h5><br></li>
                </ul>
                <p class="text-white text-justify" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><br>
                <button class="btn btn-outline-secondary" style="margin-bottom: 20px;" type="submit">Read More...</button>


            </div>
        </div>
    </div>

</section>


<!-- section 4 -->

<section id="section4">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center" style="margin-top: 70px;margin-bottom: 50px;color: rgb(1, 65, 87);">Current Openings</h3>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-12 ">
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">

          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'images/amazon.png' %}" style="width:60%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-title" style="color: rgb(1, 65, 87);">Software Engineer</h6>
                <p class="card-text d-inline-block"><i class="bi bi-geo"></i> Banglore   <i class="bi bi-clock"></i> Full-Time</p>
                <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block" style="margin-left: 250px;">Apply Now</button>
                <i class="bi bi-heart m-lg-1"></i>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">

          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'images/microsoft.png' %}" style="width:60%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-title" style="color: rgb(1, 65, 87);">Software Engineer</h6>
                <p class="card-text d-inline-block"><i class="bi bi-geo"></i> Banglore   <i class="bi bi-clock"></i> Full-Time</p>
                <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block" style="margin-left: 250px;">Apply Now</button>
                <i class="bi bi-heart m-lg-1"></i>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">

          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'images/hp.png' %}" style="width:60%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-title" style="color: rgb(1, 65, 87);">Software Engineer</h6>
                <p class="card-text d-inline-block"><i class="bi bi-geo"></i> Banglore   <i class="bi bi-clock"></i> Full-Time</p>
                <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block" style="margin-left: 250px;">Apply Now</button>
                <i class="bi bi-heart m-lg-1"></i>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <center><button class="btn btn-outline-secondary" style="margin-bottom: 30px;" type="submit">Explore More...</button></center>
      </div>
    </div>

  </div>

</section>


<!-- section 5 -->

<section id="section5" style="background-color: rgb(1, 65, 87);margin-top: 60px;">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center" style="margin-top: 70px;margin-bottom: 50px;color: rgb(255, 255, 255);">Recently Placed</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
        <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-chat-left-quote-fill"></i></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">-Unknown person-</small></p>
          </div>
        </div>
      
      </div>
      <div class="col-lg-3">
        <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-chat-left-quote-fill"></i></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">-Unknown person-</small></p>
          </div>
        </div>
      
      </div>  
      <div class="col-lg-3">
        <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-chat-left-quote-fill"></i></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">-Unknown person-</small></p>
          </div>
        </div>
      
      </div>      
      <div class="col-lg-1"></div>
    </div>
  </div>


</section>


<!-- section 6 -->

<section id="section6">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(1, 65, 87);margin-top: 50px;">Company</h5>
        <ul>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">About Us</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">Contact Us</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">Our Services</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">Privacy Policy</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">Terms & Condition</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(1, 65, 87);margin-top: 50px;">Quick Links</h5>
        <ul>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">Home</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">About Us</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">Find Jobs</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">Login</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;">Register</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(1, 65, 87);margin-top: 50px;">Contact</h5>
        <ul style="list-style-type: none;">
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;"><i class="bi bi-geo m-2"></i>Banglore</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;"><i class="bi bi-telephone m-2"></i>0481-6450232</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;"><i class="bi bi-mailbox m-2"></i>hireme@gmail.com</a></li>
          <li style="color: rgb(1, 65, 87);"><a href="#" style="color: rgb(1, 65, 87);text-decoration: none;"><i class="bi bi-instagram m-2"></i><i class="bi bi-facebook m-2"></i><i class="bi bi-twitter m-2"></i><i class="bi bi-linkedin m-2"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(1, 65, 87);margin-top: 50px;">Newsletter</h5>
        <ul style="list-style-type: none;">
          <li style="color: rgb(1, 65, 87);"><p style="color: rgb(1, 65, 87);text-decoration: none;">Subscribe our email for more <br> up-to-date job news</p></li>
          <li style="color: rgb(1, 65, 87);">
            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Email" aria-label="Search">
                  <button class="btn btn-outline-secondary" type="submit">Subscribe</button>
                </form>
              </div>
            
            </nav>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
<div class="card-footer" style="height: 35px; background-color: rgb(1, 65, 87);">
  <p class="text-white text-center"><i class="bi bi-info-circle"></i>Hire-me.com | All rights reserved.</p>
</div>



{% include 'login.html' %}
{% include 'register.html' %}
{% endblock %}